@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  --color-green: #596D48;
  --color-focus: #E5E7EB;
  --color-text-white: aliceblue;
  --side-banner-img: url('clement-souchet-juVccM81b_E-unsplash.jpg');

  display: flex;
  background-color: gray;
  min-height: 100vh;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h2,h3,label,p {
  font-family: Arial, Helvetica, sans-serif;
}

.banner-section{
  background-image: var(--side-banner-img);
  background-size: cover;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1rem 7rem;
  margin: 15rem 0rem;

  background-color: rgba(0,0,0, 0.35);
}

.logo img {
  width: 6rem;
}

.logo h1 {
  font-size: 5rem;
  color: var(--color-text-white);
}


.right-section {
  background-color: rgb(247, 251, 255);
  width: calc(100vw - 14rem);
}

.right-section-padding{
  padding: 0 3rem;
}

.right-section h3{
  width: 45rem;
  margin-bottom: 1.5rem;

  font-weight: 500;
}

.right-section .passage {
  margin: 6rem 0 2rem 0;
}

.right-section .form-main-container {
  background-color: white;
  box-shadow: 0px 5px 8px rgb(196, 196, 196);
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

#odin-sign-up {
  display: flex;
}

.form-left, .form-right {
  display: flex;
  flex-direction: column;
}

.form-main-container h2{
  padding: 20px 0;
  font-weight: 500;
}

.form-main-container label {
  display: flex;
  flex-direction: column;
  margin: 0 8rem 1.5rem 0;

  font-size: 14px;
  font-weight: 600;
  color: rgb(80, 80, 80);
}

.form-main-container input[type='text'],
.form-main-container input[type='email'],
.form-main-container input[type='tel'],
.form-main-container input[type='password']{
  border: 1px solid rgb(200,200,200);
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 18px;
}

.bottom-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom-section button {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 6px lightgray;
  background-color: var(--color-green);
  color: var(--color-text-white);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  padding: 10px 40px;
}

.bottom-section p {
  font-size: 12px;
}

.bottom-section p span {
  font-weight: 700;
  color: var(--color-green);
}